
// Structure classes

.row{
    display: flex;
    flex-direction: row;
    .col{
        width: 100%;
    }
}
.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;

}

.hdnButton{
    display: none;
}

@media screen and (max-width: 1050px){
    .container {
      width: 85%;
    }
}
@media screen and (max-width: 670px){
    .container {
      width: 90%;
    }
}
